# Include any files you want to ignore (do not want to push to GitHub)
.ipynb_checkpoints
.DS_Store
.env
.datasets/

# virtual environments
venv/
.venv/
env/
ENV/
SDS_neurovision_env/
neurovision_yolov12_env/